---
layout: default
---
<!-- index.html -->
    <div class="container work-wrapper">
      <section id="work-index">
        <div class="col8 whitespace work-header">

        </div>
        {% assign sorted = (site.work | sort: 'date') | reverse %}
        {% for work in sorted %}
        <div class="col2">
          <div class="work-thumbnail art">
            <a href="{{ work.url }}" title="{{ work.title }}">
              <figure>
                <img srcset="{{ site.url }}{{ site.baseurl }}/img/{{ work.thumbnail }}-1x.png 1x, {{ site.url }}{{ site.baseurl }}/img/{{ work.thumbnail }}-2x.png 2x">
                <figcaption>
                  <span class="work-details">
                    <h2 class="work-thumbnail-title">{{ work.title }}</h2>
                    <p class="client">{{ work.client }}</p>
                  </span>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>


<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
<!-- //index.html -->
