<!-- header.html -->
<div class="container">
  <header class="site-header">
    <a href="{{ site.url }}{{ site.baseurl }}"><h1>Eric Frommelt</h1></a>
    <nav class="site-nav" role="navigation">
      <a href="{{ site.url }}{{ site.baseurl }}">Work</a>
      <a href="{{ site.url }}{{ site.baseurl }}/about">About</a>
      <a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a>
    </nav>
    <ul class="social-links">
      <li><a href="https://www.instagram.com/ericfrommelt/"><img src="/img/icon_instagram.svg" alt="instagram"></a></li>
      <li><a href="https://twitter.com/ericfrommelt"><img src="/img/icon_twitter.svg" alt="twitter"></a></li>
    </ul>
  </header>
</div>
<!-- //header.html -->
