<!-- header.html -->
<!-- <div class="header-image"></div> -->

<div class="container">
  <header class="site-header">
    <div class="col4">
      <h1>Eric Frommelt</h1>
    </div>
    <div class="col4">
      <nav class="site-nav">
        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}">Work</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}about">About</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!-- <div class="col8">
      <img class="cover-image" src="../img/transformation.svg">
    </div> -->
    <div style="clear: both">

    </div>
  </header>
</div>
<!-- //header.html -->
