/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* Self Clearing  */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}





/*------------------------------------*\
    #EIGHT COLUMN GRID
\*------------------------------------*/
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8 {
  float: left;
  display: inline;
  margin-left:  .744047619048%; /* 10px / 1344px */
  margin-right: .744047619048%; /* 10px / 1344px */
}

// Margin for index grid
#work-index .col2, #work-index .col4 { margin: .744047619048%; }

// Nested Column classes
.col1.alpha, .col2.alpha, .col3.alpha, .col4.alpha, .col5.alpha, .col6.alpha, .col7.alpha, .col8.alpha {
  margin-left:  0;
}

.col1.omega, .col2.omega, .col3.omega, .col4.omega, .col5.omega, .col6.omega, .col7.omega, .col8.omega {
  margin-right:  0;
}

// Column classes
.col1 { width: 11.011904761905%; /*  148px / 1344px */ }
.col2 { width: 23.511904761905%; /*  316px / 1344px */ }
.col3 { width: 36.011904761905%; /*  484px / 1344px */ }
.col4 { width: 48.511904761905%; /*  652px / 1344px */ }
.col5 { width: 61.011904761905%; /*  820px / 1344px */ }
.col6 { width: 73.511904761905%; /*  988px / 1344px */ }
.col7 { width: 86.011904761905%; /* 1156px / 1344px */ }
.col8 { width: 98.511904761905%; /* 1324px / 1344px */ }

// Offsets
.offset-by-one    { padding-left: 12.5%;  /*  168px / 1344px */ }
.offset-by-two    { padding-left: 25%;    /*  336px / 1344px */ }
.offset-by-three  { padding-left: 37.5%;  /*  504px / 1344px */ }
.offset-by-four   { padding-left: 50%;    /*  672px / 1344px */ }
.offset-by-five   { padding-left: 62.5%;  /*  840px / 1344px */ }
.offset-by-six    { padding-left: 75%;    /* 1008px / 1344px */ }
.offset-by-seven  { padding-left: 87.5%;  /* 1176px / 1344px */ }

@media only screen and (max-width: 767px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8 {
    width: 99.250374812594%; /* 1324px / 1334px */
  }
}
