/*------------------------------------*\
    #SITE-WIDE SPACING & ATTRIBUTES
\*------------------------------------*/

#work-index, #work-detail, #about, #contact, .site-footer {
  width: 90%;
  margin: 0 auto 0 auto;
	position:relative;

	@media only screen and (min-width: 2000px) {
		width: 70%;
	}
}

// For spacing between content and the footer
.work-wrapper, #about, #contact {
	margin-bottom: 4em;
	@include clearfix;
}

.work-description, #about p, #contact p {
	margin-bottom: 1em;
	line-height: 1.2em;
}





/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

.site-header {
	width: 90%;
	margin: 2em auto 6em auto;
	padding-bottom: 2em;
	// border-bottom: 1px solid rgba(0, 0, 0, .1);
	@include clearfix;

	@media only screen and (min-width: 2000px) {
		width: 70%;
	}

	@media only screen and (max-width: 767px) {
		text-align: center;
	}
}

.site-header h1 {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: $text-color;
}

.brand-wrapper {
	text-align: center;
}

.logo {
	margin: 0 auto 2em auto;
	width: 13em;
}





/*------------------------------------*\
    #SITE-FOOTER
\*------------------------------------*/

.site-footer {
	// border-top: 1px solid rgba(0, 0, 0, .1);
	clear:both;
	// margin: 4em 0;
	padding: 4em 0;
}





// Mailchimp signup form
#mc_embed_signup {
  clear:left;

  h2 {
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

.mc-field-group {
  margin-bottom: 2em;
  float: left;

  @media only screen and (max-width: 767px) {
		float:none;
	}
}
.mc-field-group > label {
  padding-right: 1em;
  font-size: 1.2em;
}

.clear {
  margin-left: 1em;
  float: left;

  @media only screen and (max-width: 767px) {
		margin-left: 8em;
	}
}

input{
    padding: 11px;
    border: solid 1px #FFF;
    outline: 0;
    font: $text-font;
    font-size: 1.2em;
    width: 20em;
    background: #FFFFFF;
    }

input:hover,.preview-block input:focus{
    border-color: #b1b1b1;
    }

.clear input{
    width: auto;
    padding: .56em 1.4em;
    background: #FFF;
    border: 0;
    font-size: 1.2em;
    font-family: $text-font;
    color: #000;
    cursor: pointer;
    }





// Colophon

.colophon {
  margin: 8em 0 4em 0;
}







/*------------------------------------*\
    #SITE-NAVIGATION
\*------------------------------------*/

.site-nav {
	display: block;
	color: $text-color;
	font-size: 1.4em;

	@media only screen and (max-width: 767px) {
		display: none;
	}
}

.site-nav ul {
	margin-left: 0;
	float:right;
}

.site-nav li {
	float: left;
	display: inline-block;
	text-align: right;
}

.site-nav a {
	padding: .4em 1em 0 0;
	display: block;
}





/*------------------------------------*\
    #MOBILE SITE-NAVIGATION
\*------------------------------------*/
#navigation-small {
	display: block;
	cursor: pointer;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

#menu-wrapper {
	position: absolute;
	top: 0;
	z-index: 8888;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	@include default-transition;

}

#menu-button {
	position: fixed;
	top: 2em;
	right: 1.5em;
	z-index: 9999;
}

.burger {
	position: relative;
	display: block;
	width: 24px;
	height: 4px;
	margin: 4px 0;
	background: rgba(255, 255, 255, 1);
	@include default-transition;
}

.burger-middle.burger-open {
	@include default-transition;
	background-color: rgba(255, 255, 255, 0);
}

.burger-middle.burger-closed {
	@include default-transition;
	background-color: rgba(255, 255, 255, 100);
}

.burger-top.burger-closed {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	top: 0px;
}

.burger-top.burger-open {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 8px;
	background-color: rgba(255, 255, 255, 1);
}

.burger-bottom.burger-closed {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	top: 0px;
}

.burger-bottom.burger-open {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -8px;
	background-color: rgba(255, 255, 255, 1);
}

.menu-closed {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 0;
	visibility: hidden;
}

.menu-open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#navlist-mobile {
	font-family: $text-font;
	text-transform: uppercase;
	text-align: center;
	position:relative;
	top: 50%;
	height: 60%;
	font-size: 3em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
	a {
		color: #FFF;
	}
	li {
		padding: 1em;
	}
}

/*------------------------------------*\
    #WORK INDEX PAGE
\*------------------------------------*/

.work-thumbnail {
	display: block;
	overflow: hidden;
	@media only screen and (max-width: 767px) {
		margin-bottom: 1em;
	}
}

.work-thumbnail figcaption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(38, 35, 36, .75);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	padding: 1em;
}

.work-thumbnail figcaption:hover {
	opacity: 1;
}

.work-thumbnail figcaption h2 {
	font-size: 1.2em;
	color: #FFF;
	margin-bottom: .8em;
	letter-spacing: .3em;
	text-transform: uppercase;
}

.work-thumbnail figcaption p {
	font-size: 1em;
	color: #FFF;
	letter-spacing: .3em;
}

.work-thumbnail figcaption .work-details {

	// Center horizontally and vertically
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 1em;
	border: 1px solid #fff;
}





/*------------------------------------*\
    #WORK DETAIL PAGE
\*------------------------------------*/

.work-info {
	line-height: 2em;
	@media only screen and (max-width: 767px) {
		text-align: center;
	}
}

.work-title {
	font-size: 4em;
	font-weight: 900;
	line-height: 1em;
  text-transform: uppercase;
  // letter-spacing: .1em;
  margin-bottom: 1em;
}


.work-description {
	font-size: 1.2em;
	padding-right: 30%;

	@media only screen and (max-width: 767px) {
		padding-right: 0;
	}
}

.work-image {
	margin: 1em 0;
}

.client-name, .art-director {
	font-family: $text-font;
	font-style: normal;
	font-weight: 400;
	color: $text-color;
	font-size: 1em;
	letter-spacing: .1em;
	opacity: .4;
}





/*------------------------------------*\
    #PROJECT NAVIGATION MODULE
\*------------------------------------*/

.project-nav {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 10000;

	@media only screen and (max-width: 767px) {
	  position: relative;
		bottom: 0;
		right: 0;
		margin: 1em 0;
		display: none;
	}

}

.project-nav ul, .mobile-project-nav ul {
	margin: 0;
}

.project-nav li {
	width: 40px;
	height: 40px;
	float: left;
}

.project-nav a {
	opacity: .5;
	transition: opacity 0.2s ease-in-out;
}

.project-nav a:hover {
	opacity: 1;
}




.mobile-project-nav {
	display: none;
	text-align: center;
	margin-bottom: 2em;

	@media only screen and (max-width: 767px) {
		display: block;
	}
}

.mobile-project-nav a {
	color: #fff;
	background: #000;
	font-size: 1.5em;
	padding: .5em 0;
	display: inline-block;
	margin: .5em 0;
	width: 100%;
}
/*------------------------------------*\
    #ABOUT PAGE
\*------------------------------------*/

#about h1, #about h2 {
	text-transform: uppercase;
	font-weight: 900;
}

#about h1 {
	font-size: 4em;
	margin-bottom: .5em;
}

#about h2 {
	font-size: 2em;
	margin: 1em 0 .5em 0;
}

#about p, #contact p {
	font-size: 2em;

	@media only screen and (min-width: 767px) {
	margin-right: 20%;

	}
}

#about ul {
	font-size: 1.5em;
	margin: 0;
}

#about li {
	line-height: 1.2em;
}





/*------------------------------------*\
    #CONTACT PAGE
\*------------------------------------*/

#contact a {
	text-decoration:underline;
}
