/*------------------------------------*\
    #SITE-WIDE SPACING & ATTRIBUTES
\*------------------------------------*/


#work-index, #work-detail, #about, #contact, .site-footer {
  width: 100%;
  position:relative;
  padding: 0 3em;

  @media only screen and (min-width: $sidebar-breakpoint) {
    width: 80%;
    margin: 0 0 0 auto;
  }

}

// For spacing between content and the footer
.work-wrapper, #about, #contact {
	margin-bottom: 4em;
	@include clearfix;
}

.work-description, #about p, #contact p {
	line-height: 2em;
}





/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

.site-header {
  position: relative;
  width: 100%;
  padding: 3em;


  @media only screen and (min-width: $sidebar-breakpoint) {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;

  }

  h1 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: none;
    color: white;
  }
}

.social-links {
  margin:0;
  display: none;

  li {
    float: left;
    padding: 0 1em 0 0;
    display: inline-block;
    width: 40px;
  }

  @media only screen and (min-width: $sidebar-breakpoint) {
    display: inline-block;
  }
}

.icon-twitter {
  padding-top: 2px;
}




/*------------------------------------*\
    #SITE-NAVIGATION
\*------------------------------------*/

.site-nav {
	display: flex;
  flex-direction: row;
	color: $text-color;
	font-size: 1.2em;

  @media only screen and (min-width: $sidebar-breakpoint) {
    display: block;
  }

}

.site-nav a {
  font-family: $display-font;
  text-transform: uppercase;
  margin: 1em 0;
	display: block;
  padding-right: 1.2em;
}






/*------------------------------------*\
    #SITE-FOOTER
\*------------------------------------*/

.site-footer {
	// border-top: 1px solid rgba(0, 0, 0, .1);
	clear:both;
	// margin: 4em 0;
	padding: 3em;
}

.copyright {
  font-size: .8em;
}







/*------------------------------------*\
    #WORK INDEX PAGE
\*------------------------------------*/

#work-index {
  padding-top: 2.5em;
}


  @media only screen and (min-width: $sidebar-breakpoint) {
    .workitem:nth-child(3n-2) {
      margin-left: 0;
    }
  }


.work-header h2 {
  color: #000;
  font-size: 8em;
  font-family: $display-font;
  padding: .2em 0 0 .2em;
  text-transform: uppercase;
  font-weight: 200;
}

.work-thumbnail {
	display: block;
	overflow: hidden;
  width: 100%;
  margin: .5em 0;
}

.work-thumbnail figcaption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(38, 35, 36, .95);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	padding: 1em;
}

.work-thumbnail figcaption:hover {
	opacity: 1;
}

.work-thumbnail figcaption h2 {
	font-size: 1.6em;
	color: #FFF;
	margin-bottom: .8em;
	text-transform: uppercase;
}

.work-thumbnail figcaption p {
	font-size: 1em;
	color: #FFF;
}

.work-thumbnail figcaption .work-details {

	// Center horizontally and vertically
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 1em;
	border: 1px solid #fff;
}





/*------------------------------------*\
    #WORK DETAIL PAGE
\*------------------------------------*/

.work-content {
  @media only screen and (min-width: $sidebar-breakpoint) {
    margin-top: 8em;
  }
}

.work-info {
	line-height: 2em;
}

.work-title {
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1em;
  text-transform: uppercase;
  margin-bottom: .5em;
}


.work-description {
  margin-top: 4em;
	font-size: $body-copy-size;
  font-weight: 400;
	@media only screen and (max-width: 767px) {
		padding-right: 0;
	}
}

.images {
  padding-right: 3em;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.work-image img {
	margin: 1em 0;
}

.project-meta {
  display: flex;
  justify-content: flex-start;
  flex-basis: 50%;
}

.art-director, .client-name {
	font-family: $display-font;
	font-style: normal;
	font-weight: 400;
	color: $text-color;
	font-size: 1em;
	opacity: .4;
}

.client-name {
  margin-right: 4em;
}




/*------------------------------------*\
    #PROJECT NAVIGATION MODULE
\*------------------------------------*/

.project-nav {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 10000;

	@media only screen and (max-width: 767px) {
	  position: relative;
		bottom: 0;
		right: 0;
		margin: 1em 0;
		display: none;
	}

}

.project-nav ul, .mobile-project-nav ul {
	margin: 0;
}

.project-nav li {
	width: 40px;
	height: 40px;
	float: left;
}

.project-nav a {
	opacity: .5;
	transition: opacity 0.2s ease-in-out;
}

.project-nav a:hover {
	opacity: 1;
}

.mobile-project-nav {
	display: none;
	text-align: center;
	margin-bottom: 2em;

	@media only screen and (max-width: 767px) {
		display: block;
	}
}

.mobile-project-nav a {
	color: #fff;
	background: #000;
	font-size: 1.5em;
	padding: .5em 0;
	display: inline-block;
	margin: .5em 0;
	width: 100%;
}





/*------------------------------------*\
    #ABOUT PAGE
\*------------------------------------*/

#about, #contact {
  margin-top: 3em;

  @media only screen and (min-width: $sidebar-breakpoint) {
    margin-top: 8em;
  }
}

#about h1, #about h2 {
	text-transform: uppercase;
	font-weight: 900;
}

#about h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

#about h2 {
	font-size: 1.5em;
	margin: 1em 0 .5em 0;
}

#about p, #contact p {
	font-size: $body-copy-size;
  line-height: $body-copy-line-height;

	@media only screen and (min-width: 767px) {
	margin-right: 20%;

	}
}

#about ul {
	font-size: 1em;
	margin: 0;
}

#about li {
	line-height: 1.6em;
}





/*------------------------------------*\
    #CONTACT PAGE
\*------------------------------------*/

#contact a {
  padding-bottom: .05em;
  border-bottom: 1px solid #fff;
}

// Mailchimp signup form
#mc_embed_signup {
  padding-top: 4em;
  clear:left;

  h2 {
    font-family: $display-font;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1em;
  }
}

.mc-field-group {
  margin-bottom: 2em;
  float: left;

  @media only screen and (max-width: 767px) {
		float:none;
	}
}
.mc-field-group > label {
  padding-right: 1em;
  font-size: 1em;
}

.clear {
  margin-left: 1em;
  float: left;

  @media only screen and (max-width: 767px) {
		margin-left: 8em;
	}
}

input{
    padding: 11px;
    border: solid 1px #FFF;
    outline: 0;
    font-family: $text-font;
    font-size: 1em;
    width: 20em;
    background: #FFFFFF;
    }

.clear input{
    width: auto;
    padding: .75em 1.4em;
    background: #FFF;
    border: 0;
    color: #000;
    cursor: pointer;
    }
