---
layout: default
---
<!-- work.html -->
      <div id="work-detail">
        <!-- Project navigation -->
        <div class="col8">
          <nav class="project-nav">
            <ul>
              <li><a class="project-grid" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.url }}{{ site.baseurl }}img/work_grid.svg" alt="All projects" /></a></li>
              <li><a class="previous-project" href="#"><img src="{{ site.url }}{{ site.baseurl }}img/prev_arrow.svg" alt="Previous project" /></a></li>
              <li><a class="next-project" href="#"><img src="{{ site.url }}{{ site.baseurl }}img/next_arrow.svg" alt="Next project" /></a></li>
            </ul>
          <div style="clear:both"></div>
          </nav>
        </div>

        <article class="work-content">
          {{ content }}
        </article>

      </div>
<!-- //work.html -->
