---
layout: default
---
<!-- work.html -->


      <div id="work-detail">
        <!-- Project navigation -->
        <div class="col8">
          <nav class="project-nav">
            <ul>
              <!-- Pagination within a collection -->
              {% capture the_collection %}{{page.collection}}{% endcapture %}

                {% if page.collection %}
                  {% assign  document = site[the_collection]  %}
                {% endif %}

              {% for links in document  %}
                {% if links.title == page.title %}
                  {% unless forloop.first %}
                    {% assign prevurl = prev.url %}
                  {% endunless %}
                  {% unless forloop.last %}
                    {% assign next = document[forloop.index] %}
                    {% assign nexturl = next.url %}
                  {% endunless %}
                {% endif %}
                {% assign prev = links %}
              {% endfor %}

              <li><a class="project-grid" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.url }}{{ site.baseurl }}/img/work_grid.svg" alt="All projects" /></a></li>
              {% if nexturl %}<li><a class="previous-project" href="{{ nexturl }}"><img src="{{ site.url }}{{ site.baseurl }}/img/prev_arrow.svg" alt="Previous project" /></a></li>{% endif %}
              {% if prevurl %}<li><a class="next-project" href="{{ prevurl }}"><img src="{{ site.url }}{{ site.baseurl }}/img/next_arrow.svg" alt="Next project" /></a></li>{% endif %}
            </ul>
          <div style="clear:both"></div>
          </nav>
        </div>

        <article class="work-content col10 alpha">
          <article class="work-info">
            <h1 class="work-title">{{ page.title }}</h1>

            <div class="project-meta">
              {% if page.client %}
              <h2 class="client-name">{{ page.client }}</h2>
              {% endif %}

              {% if page.artdirector %}
              <h2 class="art-director"><span class="bold">Art Director:</span> {{ page.artdirector }}</h2>
              {% endif %}
            </div>

            {% if page.description %}
            <p class="work-description col11 alpha">{{ page.description }}</p>
            {% endif %}
          </article>
          <section class="images">
            <figure class="work-image">
              {{ content }}
            </figure>
          </section>
        </article>

        <!-- Mobile project navigation -->
        <div class="col8">
          <nav class="mobile-project-nav">
            <ul>
              {% if nexturl %}<li><a class="previous-project" href="{{ nexturl }}">Previous Project</a></li>{% endif %}
              {% if prevurl %}<li><a class="next-project" href="{{ prevurl }}">Next Project</a></li>{% endif %}
              <li><a class="project-grid" href="{{ site.url }}{{ site.baseurl }}">All Projects</a></li>
            </ul>
          </nav>
        </div>
      </div>

<!-- //work.html -->

      <script>
        document.body.onkeyup = function(e){
        if (e.keyCode == '37') { window.location = '{{ nexturl }}'; }
        if (e.keyCode == '39') { window.location = '{{ prevurl }}'; }
        };
      </script>
